.search-user {
  margin: 2% auto;
  text-align: center;
}

.search-user input {
  width: 50%;
  padding: 0.5em;
  font-size: 15px;
}

.results-div {
  border: 2px solid #000000;
  color: black;
  border-radius: 10%;
  justify-content: center;
  margin: 2% auto;
  width: 30%;
  height: 50%;
}

@media only screen and (max-width: 600px) {
  .results-div {
    width: 60%;
  }
}

.search-user button , .results-div button {
  background: transparent;
  color: black;
  border: 2px solid black;
  margin: 1em auto;
  height: 40px;
  min-width: 120px;
  border-radius: 10px;
  font-size: 15px;
  position: relative;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 2px;
}


#btn:hover {
  background: rgba(2, 104, 95, 0.8);
  color: white;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

.results-div img {
  border: 4px solid rgba(2, 104, 95, 0.8);
  border-radius: 50%;
  max-width: 100%;
  height: 10em;
  transition: 0.2s;
}

