.user-profile {
  color: white;
  background-color: rgba(2, 104, 95, 0.8);
  padding: 1em;
  border: 3px solid black;
  border-radius: 2%;
  width: 40%;
  text-align: center;
  margin: 2% auto;
}

@media only screen and (max-width: 600px) {
  .user-profile {
    width: 80%;
  }
}


.user-profile img {
  margin: 1em;
  width: 60%;
  height: 60%;
  border: 5px solid black;
  border-radius: 50%;
}

.user-profile button {
  background: rgba(2, 104, 95, 0.8);
  color: white;
  border: 2px solid black;
  margin: 1em auto;
  height: 40px;
  min-width: 120px;
  border-radius: 10px;
  font-size: 15px;
  position: relative;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 2px;
}


#btn:hover {
  background: black;
  color: white;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}