.user-repos {
  width: 100vw;
  margin: auto;
  text-align: center;
}

.single-repo {
  margin: 5% auto;
  padding: 0.5em;
  border: 2px solid black;
  border-radius: 2em;
  width: 50%;
  height: 50%;
}
@media only screen and (max-width: 600px) {
  .single-repo {
   width: 90%;
  }
 }
 


.repos-header {
  border: 2px solid black;
  background: rgba(2, 104, 95, 0.8);
  color: white;
  width: 100%;
  margin: auto;
}

a{
  text-decoration: none;
}

button:focus {
  outline-color: rgba(2, 104, 95, 0.8);
}

 button {
  background: rgba(2, 104, 95, 0.8);
  color: white;
  border: 2px solid black;
  margin: 1em auto;
  height: 40px;
  min-width: 120px;
  border-radius: 10px;
  font-size: 15px;
  position: relative;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 2px;
}

#btn:hover {
  background: black;
  color: white;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}